%p
    %strong #{flash[:notice]}

%div{style: 'text-align: center; width: 50%; display: inline; float: left; padding-right: 10px;'}
    %img{src: 'truck.jpg', style: 'height: 200px;'}
    %br
    %em This is our truck!

%p Welcome to Drake of Conklin! We deliver things...namely mail...and we have a lot of paperwork that we need to do to operate. Yeah...umm...Brandon really doesn't know much about what this company does. But look at this fancy website!
%br
%br
%br
%br

%div{style: 'text-align: center; width: 50%; display: inline; float: right; padding-left: 10px;'}
    %img{src: 'people.JPG', style: 'height: 200px;'}
    %br
    %em Look at all of our happy clients!

%p Here at Drake of Conklin, we are here to satisfy all of your Drake of Conklin-y needs. We have a proven record of success, and we are looking forward to providing you all of the Drakes that this Conklin has to offer!
